.env
robot_config/report_profile.tsv
caseologue_python/output_caseologue.tsv
caseologue_python/test/output_caseologue.tsv
caseologue_python/output_caseologue_timing.tsv
caseologue_python/test/output_caseologue_timing.tsv
**/__pycache__/
docs/_build/
robot_config/robot.jar
.vscode/