{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Last validation report</h1>
<p>Last found errors in the EDAM ontology via the EDAM validation workflow (edam_custom and ROBOT)</p>
<br></br>

<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Level</th>
        <th>Label</th>
        <th>Debug Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for r in output_edam_custom_list %}
            {% if r["Level"] == "ESSENTIAL" %}
                <tr class="has-background-warning">
            {% elif r["Level"] == "ERROR" %}
                <tr class="has-background-danger">
            {% else %}
                <tr>
            {% endif %}        
                    <th>{{r["Number"]}}</th>
                    <td>{{r["Level"]}}</td>
                    <td><a href='{{r["Entity"]}}'>{{r["Label"]}}</a></td>
                    <td>{{r["Debug Message"]}}</td>
                </tr>
        {% endfor %}
        {% for r in robot_output_list %}
            {% if r["Level"] == "ERROR" %}
                <tr class="has-background-warning">
            {% elif r["Level"] == "WARN" %}
                <tr class="has-background-danger">
            {% else %}
                <tr>
            {% endif %}        
                    <th>{{r["Number"]}}</th>
                    <td>{{r["Level"]}}</td>
                    <td><a href='{{r["Subject"]}}'>{{r["Label"]}}</a></td>
                    <td>{{r["Rule Name"]}} on value {{r["Value"]}}</td>
                    <td>Robot</td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}