{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Online validation report</h1>
<p>Test your EDAM File</p>
<br></br>


<div class="file has-name">
    <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
      <span class="file-name">
        Screen Shot 2017-07-29 at 15.54.25.png
      </span>
    </label>
  </div>

    <p>Choose your verification tool:</p>
    <button class="button is-light">Edamci</button>
    <button class="button is-light" >Robot</button>
    <button class="button is-light" >Reasoner</button>

        <p>Choose your verification level:</p>
        <button class="button is-warning" onclick="edam_validation">Curration</button>
        <button class="button is-danger" onclick="edam_validation">Error</button>      


{% endblock %}