{% extends "layout.html" %}

{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block body %}

<h1 class="title">Basic statistics</h1>
<p>Here, we compute some basic metrics to summarize the content of the EDAM ontology.</p>

<section class="section">
    <h2 class="subtitle">EDAM concepts</h2>

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Topics</p>
                <p class="title">{{ topics }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Operations</p>
                <p class="title">{{ operations }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Data</p>
                <p class="title">{{ data }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Format</p>
                <p class="title">{{ format }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Total</p>
                <p class="title">{{ total }}</p>
            </div>
        </div>
    </nav>
</section>

<section class="section">
    <h2 class="subtitle">From the last stable release</h2>

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">New topics</p>
                <p class="title">{{ new_topics }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">New operations</p>
                <p class="title">{{ new_operations }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">New data</p>
                <p class="title">{{ new_data }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">New format</p>
                <p class="title">{{ new_formats }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Total new</p>
                <p class="title">{{ new_total }}</p>
            </div>
        </div>
    </nav>
</section>
<section class="section">
    <h2 class="subtitle">Bubastis analysis</h2>
    <p>Bubastis is an EBI tool for comparing Ontologies, here comparing the <a href="https://edamontology.org/EDAM.owl">last official release</a> of EDAM versus the <a href="https://edamontology.org/EDAM.owl">curent dev version</a>.</p>
    <br></br>
    <form target="_blank" method="post" action="http://www.ebi.ac.uk/efo/bubastis/BubastisDiffResults">
        <input type="hidden" name="ontology1url" value="https://edamontology.org/EDAM.owl" />
        <input type="hidden" name="ontology2url" value="https://raw.githubusercontent.com/edamontology/edamontology/main/EDAM_dev.owl" /> 
        <input type="hidden" name="modifiedClasses" value="on" /> 
        <input type="hidden" name="newClasses" value="on" /> 
        <input type="hidden" name="deletedClasses" value="on" /> 
        <!--       <button type="submit" style="cursor: pointer; "><img src="../image/bubastis_logo.gif"></button> --> 
        <button type="submit" style="cursor: pointer; "><img src="http://www.ebi.ac.uk/efo/bubastis/images/bubastis_logo.gif"></button>
      </form>
    </section>

<section class="section">
    <h2 class="subtitle">Contributors (code)</h2>
        <div>
            <p>Number of contributors: {{nb_contributors}}</p>
        </div>
        <div>
            <p>Contributors login:</p>
        </div>
        <div style = "position:relative; left:160px;">
            <ul style="list-style-type: disc">
            {%for c in list_contributors %}
                <li>{{c}}</li>    
            {%endfor%}
            </ul>
        </div>
</section>
<section class="section">
    <h2 class="subtitle">Contributors (Issues)</h2>
        <div>
            <p>Number of contributors: {{nb_issue_contributors}}</p>
        </div>
        <div>
            <p>Contributors login:</p>
        </div>
        <div style = "position:relative; left:160px;">
            <ul style="list-style-type: disc">
            {%for c in issue_contributors %}
                <li>{{c}}</li>    
            {%endfor%}
            </ul>
    </div>
</section>

{% endblock %}