name: caseologue robot report

on: 
  workflow_call:
    inputs:
      edam_path: 
        type: string
        required: true

jobs:
  
  build:

    runs-on: ubuntu-latest

    steps:
      
    - uses: actions/checkout@v2
      with: 
        repository: edamontology/caseologue
    
    - name: download artifacts
      uses: actions/download-artifact@v3
      with:
        name: input_ontology 
    - name: Display structure of files
      run: ls -R

    - name: run report 
      if: always()
      run: |
        cd robot_config/
        wget https://github.com/ontodev/robot/releases/download/v1.9.1/robot.jar
        java -jar robot.jar report --input ${{inputs.edam_path}} --output report_profile.tsv --profile report_queries.txt

    - name: Print report output
      if: always()
      run: |
        more ./robot_config/report_profile.tsv


    - name: Archive Robot report tests
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: robot_report_profile
        path: ./robot_config/report_profile.tsv
