name: caseologue robot reason

on: 
  workflow_call:
    inputs:
      edam_path: 
        type: string
        required: true

jobs:
  
  build:

    runs-on: ubuntu-latest

    steps:
      
    - uses: actions/checkout@v3
      with:
        repository: edamontology/caseologue
    - name: download artifacts
      uses: actions/download-artifact@v4
      with:
        name: input_ontology 
    - name: Display structure of files
      run: ls -R

    - name: run reason
      run: |
        cd robot_config/ 
        wget https://github.com/ontodev/robot/releases/download/v1.8.1/robot.jar
        java -jar robot.jar reason --reasoner ELK   --input ${{inputs.edam_path}} -v 

